.hidden
{
	display: none;
}

body
{
	font-family: arial;
}

h1,h2,h3
{
	color: white;
	font-size: 20px;
}
#siteContainer
{
	width: 1024px;
	margin: 0 auto;
}
#mainHeader
{
	background: #666699;
	height: 457px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0px;



}

#headerContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#navBar
{
	display: flex;
	justify-content: space-between;
	position: relative;
	
}

#logoNav
{
	background: #4682a2;
	padding: 40px;
}

#mainNav
{
	background: #003333;
	padding: 40px 200px;
}

#mainLogo
{
	height: 366px;
	display: flex;
	justify-content: center;
	align-items: center;
	

}
#mainLogo h2
{
	background: #4682a2;
	padding: 50px;
}
#mainContainer
{
	margin: 0px;
}
#promoText
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 555px;
	background: #6fcdff;
}

#promoImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 607px;
	background: #666666;
}

#meeting
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 550px;
	background: #62e1c1;
}

#aboutTRAA
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 820px;
	background: #4f928f;
}

#events
{
	background: #669999;
	height: 507px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#eventsText
{

		position: relative;
		text-align: right;
		margin-right: 100px;
}
#eventsImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 693px;
	background: #c7a99c;
	height: 507px;
}


#projects
{
	background: #669999;
	height: 507px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

}
#projectsText
{
		position: relative;
		margin-right: 800px;
}
#projectsImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 693px;
	background: #c7a99c;
	height: 507px;
}

#associates
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 580px;
	background: #666666;
}
#footerLogo
{
	background: #4682a2;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row-start:1;
	grid-row-end:6;
}

#subNav
{
	background: #003333;
	grid-column-start:2;
	grid-column-end:4;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Copyright
{
	background: #00946f;
	grid-column-start:3;
	grid-row-start:3;
	grid-row-end:5;
	display: flex;
	justify-content: center;
	align-items: center;

}
#mainFooter
{
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
	margin: 0px;
	height: 233px;
	background: #075569;
}