@charset "UTF-8";
/*CSS Document*/

body
{
	font-family: Helvetica, Arial, sans-serif;
}
.hidden
{
	display: none;
}


#logo
{
	float: left;
	margin-top:17px;
	margin-left: 60px;
	width:65px; 
	height:60px;
	background-color: #4682a2;

}
#logo h2
{	

	font-size:18px;
	margin-top: 17px;

}

<<<<<<< HEAD
#heroImg
{
	background-color: #666699;
	
}

#heroImg h2
{
	position: absolute;
	margin-top: 120px; 
	margin-left: 470px;
}

#mainInfo
{
	height: 725px;
	background-color: #62e1c1;
	display: flex;
	justify-content: center;
	align-items: center;
}



#promoImg
{
	height: 628px;
	background-color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
}




#promo2text
{
	display: flex;
	flex-direction: row;
}

#textInfo
{
	background-color: #669999;
	width: 589px;
	height: 437px;
	display: flex;
	justify-content: center;
	align-items: center;

}



#promoImg2
{
	background-color:#c7a99c; 
	width: 436px;
	height: 437px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#textInfo2
{
	height: 413px;
	background-color: #c29cc7;
	display: flex;
	justify-content: center;
	align-items: center;

}



#textInfo3 
{
	height: 529px;
	background-color: #afc79c;
	display: flex;
	justify-content: center;
	align-items: center;
}


h1,h2,h3,h4
{
	margin:0;
	padding: 0;
	color: white;
	font-size: 20px;
}
#siteContainer
{
	width: 1024px;
	margin: 0 auto;
}
#mainHeader
{
	background: #666699;
	height: 457px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0px;



}

#headerContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#navBar
{
	display: flex;
	justify-content: space-between;
	position: relative;
	
}

#logoNav
{
	background: #4682a2;
	padding: 40px;
}

#mainNav
{
	background: #003333;
	padding: 40px 200px;
}

#mainLogo
{
	height: 366px;
	display: flex;
	justify-content: center;
	align-items: center;
	

}
#mainLogo h2
{
	background: #4682a2;
	padding: 50px;
}
#mainContainer
{
	margin: 0px;
}
#promoText
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 555px;
	background: #6fcdff;
}

#promoImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 607px;
	background: #666666;
}

#meeting
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 550px;
	background: #62e1c1;
}



#aboutTRAA
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0px;
	height: 820px;
	background: #4f928f;
	
}

#descriptionsTRAA
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 100px;
}

#aboutTRAA h3
{
	position: absolute;
}
.descriptions
{
	width: 400px;
	height: 200px;
	background: #71c7c3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}


#events
{
	background: #669999;
	height: 507px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#eventsText
{

		position: relative;
		text-align: right;
		margin-right: 100px;
}
#eventsImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 693px;
	background: #c7a99c;
	height: 507px;
}


#projects
{
	background: #669999;
	height: 507px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

}
#projectsText
{
		position: relative;
		margin-right: 800px;
}
#projectsImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 693px;
	background: #c7a99c;
	height: 507px;
}

#associates
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 580px;
	background: #666666;
}
.associatesTop
{
	display: flex;
	justify-content: space-evenly;
}

.associatesBottom
{
	display: flex;
	justify-content: space-evenly;
}

.associatesLogo
{
	margin: 30px;
	background: #71c7c3;
	width: 260px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

}

#footerLogo
{
	background: #4682a2;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row-start:1;
	grid-row-end:6;
}

#subNav
{
	background: #003333;
	grid-column-start:3;
	grid-column-end:5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Copyright
{
	background: #00946f;
	grid-column-start:4;
	grid-row-start:3;
	grid-row-end:4;
	display: flex;
	justify-content: center;
	align-items: center;

}
#mainFooter
{
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
	grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
	margin: 0px;
	height: 233px;
	background: #075569;
}

